<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e49060; padding: 2pc; display: flex; justify-content: space-around;" >
    <a class="navbar-brand" style="color: rgb(12, 3, 3); font-size: 20px;" href="/">NEWS SOURCES</a>
    <a class="navbar-brand" style="color: black; font-size: 20px;" href="/News-Articles"> NEWS ARTICLES </a><br>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Articles Here..." aria-label="Search" name="article_name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
</nav>
<marquee direction="up" scrollamount="1" style="text-align: center; font-size: larger; color: crimson; background-color: rgb(240, 182, 23);">Click the links above to get to desired location. <br> News Sources or News Articles</marquee>